@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body, html {
  line-height: 1;
  overflow-x: hidden;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: ”;
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "Baloo2-Bold";
  src: url(fonts/Baloo2-Bold.ttf);
}
@font-face {
  font-family: "Baloo2-ExtraBold";
  src: url(fonts/Baloo2-ExtraBold.ttf);
}
@font-face {
  font-family: "Baloo2-Medium";
  src: url(fonts/Baloo2-Medium.ttf);
}
@font-face {
  font-family: "Baloo2-Regular";
  src: url(fonts/Baloo2-Regular.ttf);
}
@font-face {
  font-family: "Baloo2-SemiBold";
  src: url(fonts/Baloo2-SemiBold.ttf);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10%;
  align-items: center;
}

.menu {
  background-color: rgb(20, 16, 15);
  position: absolute;
  width: 100%;
  top: -21px;
  left: -100vw;
  opacity: 0;
  transition: 0.4s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 998;
  margin-left: 350px;
}
.menu .menu-item {
  padding: 30px 35px;
  list-style: none;
}
.menu .menu-item a {
  font-family: "Baloo2-Bold";
  font-size: 50px;
  text-decoration: none;
  color: rgb(215, 123, 65);
}
.menu .menu-item .bold {
  font-family: "bold";
  font-weight: 800;
}

.nav-branding {
  max-width: 50%;
}

.hamburger {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger .bar {
  height: 5px;
  width: 100%;
  background-color: rgb(215, 123, 65);
  border-radius: 5px;
  z-index: 999;
}
.hamburger #top {
  transform: translateY(-4px);
  transition: all 0.6s ease;
}
.hamburger #middle {
  transition: all 0.6s ease;
}
.hamburger #bottom {
  transform: translateY(4px);
  transition: all 0.6s ease;
}

.open {
  opacity: 1;
  left: 0;
}
.open #top {
  transform: translateY(5px) rotate(135deg);
  background-color: white;
}
.open #middle {
  opacity: 0;
  transform: rotate(360deg);
}
.open #bottom {
  transform: translateY(-5px) rotate(-135deg);
  background-color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
  .header .menu {
    top: 0;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .header .menu {
    top: 0;
  }
  .header .nav-branding {
    max-width: 50%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    padding: 30px 0;
    align-items: center;
    margin-top: 0;
  }
  .header .nav-branding {
    margin-left: 50px;
  }
  .header .menu {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    opacity: 1;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    background-color: white;
    align-items: center;
    flex-direction: row;
  }
  .header .menu .menu-item {
    padding: 30px 13px;
  }
  .header .menu .menu-item a {
    color: rgb(0, 57, 79);
    font-size: 35px;
    text-decoration: none;
  }
  .header .menu .menu-item a span {
    color: rgb(215, 123, 65);
  }
  .header .menu .menu-item .bold {
    font-size: 33px;
  }
  .header .hamburger {
    display: none;
  }
}
.hero-section h1 {
  font-family: "Baloo2-ExtraBold";
  font-size: 80px;
  margin-left: 60px;
  padding-top: 40px;
}
.hero-section h2 {
  margin-left: 60px;
  font-family: "Baloo2-ExtraBold";
  font-size: 50px;
}
.hero-section span {
  color: rgb(215, 123, 65);
  font-family: "Baloo2-ExtraBold";
}
.hero-section h3 {
  margin-left: 190px;
  font-family: "Baloo2-Bold";
  font-size: 20px;
  align-items: center;
}
.hero-section h3 img {
  margin-left: -10%;
  width: 7%;
  align-items: center;
  height: 3px;
}

.gallery {
  padding: 80px;
}
.gallery .one {
  padding-top: 30px;
}
.gallery .three {
  padding-top: 150px;
}
.gallery .four {
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .four img {
  height: 97%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .five img {
  width: 750%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 85%;
  margin-left: 12px;
  opacity: 0.3;
}
.gallery .six img {
  max-width: 110%;
  padding-top: 5px;
  opacity: 0.3;
}
.gallery .seven img {
  padding-top: 5px;
  opacity: 0.3;
}
.gallery .eight {
  opacity: 0.3;
}

.Driven {
  padding: 80px;
}
.Driven .brand h1 {
  font-family: "Baloo2-ExtraBold";
  color: rgb(215, 123, 65);
  font-size: 50px;
}
.Driven .brand p {
  width: 100%;
  font-family: "Baloo2-Medium";
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}
.Driven img {
  max-height: 250%;
  margin-left: 50px;
}

.Services {
  background-color: rgb(0, 57, 79);
  padding-bottom: 100px;
}
.Services h1 {
  padding: 80px;
  color: white;
  font-family: "Baloo2-ExtraBold";
  font-size: 50px;
}
.Services .Portfolio .innerPort .test .col-md-4 {
  width: 100%;
}
.Services .Portfolio .innerPort .test .col-md-4 .card {
  background-color: rgb(0, 57, 79);
  color: white;
}
.Services .Portfolio .innerPort .test .col-md-4 .card img {
  padding: 10px;
}
.Services .Portfolio .innerPort .test .col-md-4 .card h2 {
  color: rgb(215, 123, 65);
  font-family: "Baloo2-Bold";
  font-size: 30px;
}
.Services .Portfolio .innerPort .test .col-md-4 .card hr {
  color: rgb(215, 123, 65);
}
.Services .Portfolio .innerPort .test .col-md-4 .card .card-text {
  padding-top: 20px;
  line-height: 1.5;
}
.Services .Portfolio .innerPort .test .owl-dots {
  display: flex;
  justify-content: center;
}
.Services .Portfolio .innerPort .test .owl-dots button:nth-child(1) {
  width: 50px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  background-color: rgb(215, 123, 65);
}
.Services .Portfolio .innerPort .test .owl-dots button:nth-child(2) {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.Services .Portfolio .innerPort .test .owl-dots button:nth-child(3) {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.create {
  margin: 120px;
}
.create .combine h1 {
  color: rgb(215, 123, 65);
  font-family: "Baloo2-Bold";
  font-size: 40px;
  width: 100%;
  padding-top: 150px;
}
.create .combine .buttton {
  border: none;
  font-size: 22px;
  color: #ffffff;
  padding: 25px 64px;
  background-color: rgb(0, 57, 79);
  cursor: pointer;
  transition: all 0.3 ease;
  font-family: "Baloo2-Bold";
  margin-top: 30px;
}

.Statue {
  background-color: rgb(237, 238, 240);
  padding: 70px;
}
.Statue .contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.Statue .contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: white;
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 57, 79);
  transition: 0.5s;
}
.Statue .contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}
.Statue textarea.contact-form-text {
  height: 200px;
}
.Statue .contact-form-btn {
  border: 0;
  background-color: rgb(0, 57, 79);
  color: #FFF;
  padding: 25px 250px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 60px;
  font-family: "Baloo2-Bold";
  font-size: 25px;
}
.Statue h1 {
  font-family: "Baloo2-Bold";
  font-size: 40px;
  text-align: center;
  color: rgb(215, 123, 65);
}
.Statue p {
  line-height: 1.5;
  text-align: center;
  font-family: "Baloo2-Medium";
  font-size: 18px;
}

.Dare {
  background-image: url(img/Rectangle\ 80.png);
  background-size: cover;
  background-position: top;
  height: 50vh;
  padding: 140px;
}
.Dare h1 {
  color: white;
  font-size: 40px;
  font-family: "Baloo2-Bold";
}
.Dare .house p {
  color: white;
  padding-top: 10px;
  font-family: "Baloo2-Bold";
  font-size: 20px;
}
.Dare .call p {
  color: white;
  padding-top: 10px;
  font-family: "Baloo2-Bold";
  font-size: 20px;
}

@media (min-width: 360px) and (max-width: 575px) {
  .hero-section h1 {
    font-size: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 60px;
  }
  .hero-section h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
  }
  .hero-section .boarder {
    position: absolute;
    top: 72%;
    width: 15%;
    margin: 0;
    padding: 0;
    left: 10%;
  }
  .hero-section h3 {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
  .gallery {
    padding: 0;
  }
  .gallery .container .row .col-md-3 img {
    width: 100%;
    height: 100%;
  }
  .gallery .container .row .three {
    padding: 10px;
    width: 100%;
  }
  .gallery .container .row .five {
    display: none;
  }
  .gallery .container .row .eight {
    display: none;
  }
  .gallery .container .row .seven {
    display: none;
  }
  .gallery .container .row .six {
    display: none;
  }
  .gallery .container .row .two {
    padding-top: 10px;
  }
  .gallery .container .row .ten {
    padding-top: 10px;
  }
  .Driven {
    padding: 0;
  }
  .Driven .brand h1 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .Driven .brand p {
    font-size: 20px;
    padding: 0;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding-top: 30px;
  }
  .Driven img {
    margin: 0;
  }
  .Services {
    padding: 40px;
  }
  .Services h1 {
    padding: 0;
    font-size: 25px;
    text-align: center;
  }
  .Services .Portfolio .innerPort .test col-md-4 .card .card-text {
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  .create {
    padding: 0;
    margin: 0;
  }
  .create .combine h1 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
  }
  .create .combine .buttton {
    margin: 0;
    font-size: 10px;
    padding: 20px 120px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .create img {
    margin: 0;
    width: 100%;
    padding-top: 40px;
  }
  .Statue {
    padding: 0;
    margin: 0;
    margin-top: 40px;
  }
  .Statue img {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 30px;
  }
  .Statue .contact-form .contact-form-btn {
    padding: 20px 145px;
    margin-top: 30px;
  }
  .Statue .touch h1 {
    font-size: 30px;
    padding-top: 40px;
  }
  .Statue .touch p {
    padding-top: 20px;
  }
  .Dare {
    padding: 0;
    text-align: center;
  }
  .Dare h1 {
    font-size: 40px;
    padding-top: 40px;
  }
}
@media (width: 768px) {
  .hero-section h3 {
    padding: 0;
    margin: 0;
    margin-left: 120px;
  }
  .gallery .three {
    padding: 0;
    padding-top: 60px;
  }
  .gallery .ten {
    padding-top: 10px;
  }
  .Driven .brand p {
    width: 200%;
  }
  .create {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }
  .create img {
    padding-top: 120px;
  }
  .Statue {
    padding: 5% 0;
  }
  .Statue img {
    margin-right: -70px;
    margin: 0;
    padding-top: 70px;
  }
  .Statue .contact-form-btn {
    padding: 0;
    padding: 20px 115px;
  }
  .Statue h1 {
    width: 150%;
    margin-left: -90px;
  }
  .Dare {
    padding: 0;
    margin: 0;
  }
  .Dare h1 {
    padding-top: 150px;
    margin-left: 40px;
  }
  .Dare .call p {
    margin-left: 40px;
    width: 150%;
  }
}/*# sourceMappingURL=style.css.map */